<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display ALl post</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>All Posts</h1>

    <% for(user of userInfo){ %>
        <div class="posts">
            <h3>id<%= user.id %></h3>
            <p>Username: <%= user.username %></p>
            <span>Your Post: <%= user.content %> </span>
            <br>
            <div>
                <a href="/posts" id="repost">Post new thing!</a>
                <a href="/posts/edit/<%= user.id  %>" id="repost">Edit post</a>
                <a href="/posts/delete/<%= user.id %>" id="repost">Delete post</a>
                <a href="/posts/single/<%=  user.id %>" id="repost">See Detail</a>
            </div>
        </div>
        <% } %>
        
   
</body>
</html>